<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000957071534-8h40489a43ggv6491ucost6n2ivul8e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000957071534-8h40489a43ggv6491ucost6n2ivul8e3</string>
	<key>API_KEY</key>
	<string>AIzaSyCrGKv9wcqXLScJLvyzJFBZgrcE_QpX02k</string>
	<key>GCM_SENDER_ID</key>
	<string>1000957071534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseMasterClass</string>
	<key>PROJECT_ID</key>
	<string>shahmeer-94339</string>
	<key>STORAGE_BUCKET</key>
	<string>shahmeer-94339.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000957071534:ios:1f03673c1f72263f72dd3f</string>
	<key>DATABASE_URL</key>
	<string>https://shahmeer-94339-default-rtdb.firebaseio.com</string>
</dict>
</plist>